.header{
    display: flex;
}
.logo{
    display: flex;
    position: absolute;
    margin-left: 50%;
    top: 130px;
}
.flex1{
    display: flex;
    position: absolute;
    margin-left: 42%;
    top: 300px;
    color: hsl(210, 10%, 33%);
}
.flex2{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 35%;
    top: 370px;
    color: hsl(201, 11%, 66%);
}
.flex3{
    display: flex;
    gap: 50px;
    margin-left: 45%;
    position: relative;
    top: -50px;
}
.flex4{
    display: flex;
    justify-content: center;
    font-size: 18pt;
    color: hsl(210, 10%, 33%);
}
.flex5{
    display: flex;
    justify-content: center;
    color: hsl(201, 11%, 66%);
    text-align: center;
}
.ios{
    background-color: hsl(171, 66%, 44%);
    border-radius: 100px;
    padding: 5px;
}
.mac{
    background-color: hsl(233, 100%, 69%);
    border-radius: 100px;
    padding: 5px;
}
.topic{
    display: flex;
    float: right;
    flex-direction: column;
}
.logo2{
    display: flex;
    gap: 50px;
    align-items: center;
}
.logo3{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.list{
    display: inline;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.final{
    display: flex;
    background-color: rgb(233, 232, 232);
    justify-content: space-between;
    align-items: center;
    font-size: 18pt;
    color: hsl(210, 10, 33);
}